# Ignora lo generado y lo que no escribiste tú
public/** linguist-vendored
dist/** linguist-generated
build/** linguist-generated

# Si usas tailwind o librerías pesadas, ignora sus CSS
**/tailwind.css linguist-generated
**/vendor/** linguist-vendored